option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:422202381659:certificate/a159fedf-db31-4983-b068-06433edd6be9
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS